<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="warning">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="registerForm">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre: </ion-label>
            <ion-input type="text"  name="nombre" formControlName="nombre" required ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellido: </ion-label>
            <ion-input type="text" name="apellido" formControlName="apellido" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email:</ion-label>
            <ion-input type="email"  name="email" formControlName="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Sede: </ion-label>
            <ion-input type="translucent"  name="sede" formControlName="sede" required></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>Selecciona años</ion-label>
            <ion-item>
              <ion-select name="horas1" formControlName="ano" interface="popover" value="horas" multiple="true" placeholder="Selecciona años">
                <ion-select-option value="2020">2020</ion-select-option>
                <ion-select-option value="2021">2021</ion-select-option>
                <ion-select-option value="2022">2022</ion-select-option>
                <ion-select-option value="2023">2023</ion-select-option>
              </ion-select>
            </ion-item> 
          </ion-item>
          <br>
          <ion-list>
            <ion-label position="floating">Seleccione Jornada</ion-label>
            <ion-radio-group formControlName="jornada" name="jornada" value="jornada">
              <ion-item>
                <ion-label>Diurno</ion-label>
                <ion-radio value="Diurno"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Vespertino</ion-label>
                <ion-radio value="Vespertino"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <br>  
          <ion-item>
            <ion-label>Asignatura N°1</ion-label>
            <ion-input type="text" formControlName="asignatura1" placeholder="Lenguaje..." name="asignatura1" required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Horas Semanales 1ra Asignatura</ion-label>
            <ion-item>
              <ion-label>Selecciona la cantidad de horas</ion-label>
              <ion-select name="horas2" formControlName="horas_sem_asig1" interface="popover" value="horas" multiple="true" placeholder="Selecciona cantidad de horas">
                <ion-select-option value="2hrs">2 Horas</ion-select-option>
                <ion-select-option value="3hrs">3 Horas</ion-select-option>
                <ion-select-option value="4hrs">4 Horas</ion-select-option>
                <ion-select-option value="5hrs">5 Horas</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-item>
          <ion-item>
            <ion-label>Asignatura N°2</ion-label>
            <ion-input type="text" formControlName="asignatura2"formControlName="asignatura2" placeholder="Matematica..." name="asignatura2" required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Horas Semanales 2da Asignatura</ion-label>
            <ion-item>
              <ion-label>Selecciona la cantidad de horas</ion-label>
              <ion-select name="horas2" formControlName="horas_sem_asig2" interface="popover" value="horas" multiple="true" placeholder="Selecciona cantidad de horas">
                <ion-select-option value="2hrs">2 Horas</ion-select-option>
                <ion-select-option value="3hrs">3 Horas</ion-select-option>
                <ion-select-option value="4hrs">4 Horas</ion-select-option>
                <ion-select-option value="5hrs">5 Horas</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-item>
          <ion-item>
            <ion-label>Selecciona el semestre</ion-label>
            <ion-select name="semestre" formControlName="semestre" value="semestre" multiple="true" placeholder="Selecciona el semestre">
              <ion-select-option value="primer">Primer Semestre</ion-select-option>
              <ion-select-option value="segundo">Segundo Semestre</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Rol</ion-label>
            <ion-select name="rol" formControlName="rol" value="rol" multiple="true" placeholder="Rol">
              <ion-select-option value="docente">Docente</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña: </ion-label>
            <ion-input type="password"  name="password" formControlName="password" required></ion-input>
          </ion-item>
        </ion-list>
        <br>
        <ion-button (click)="crearRegistro()" expand="block" fill="solid" shape="round">
          Enviar
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

