<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <img src="assets/DuocUC.png" alt="" class="Duoc">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-header>
    <ion-card-title class="Registr"><b>RegistrAPP</b></ion-card-title>
  </ion-card-header>
  <br>
  <img src="assets/QR.png" alt="" class="QR">
  <br><br>
  <ion-button expand="block" fill="solid" shape="round" routerLink="/login">
    Iniciar sesion
  </ion-button>
  
  <ion-button expand="block" fill="solid" shape="round" routerLink="/select-registro">
    Registrarme
  </ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar color="mycolor">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>