<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="warning">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <form [formGroup]="loginForm">

        <ion-list>

          <ion-item fill="solid">
            <ion-label position="stacked">Nombre:</ion-label>
            <ion-input type="text" formControlName="nombre"></ion-input>
          </ion-item>
          <div *ngIf="loginForm.get('nombre')?.invalid && (loginForm.get('nombre')?.dirty || 
                      loginForm.get('nombre')?.touched)">
            <div style="color:red"ngIf="loginForm.get('nombre')?.hasError('required')">
              *Nombre es obligatorio
            </div>
            <div style="color:red"ngIf="loginForm.get('nombre')?.hasError('minlength')">
              *Nombre debe tener mínimo 4 caracteres
            </div>
          </div>



          <ion-item fill="solid">
            <ion-label position="stacked">Email:</ion-label>
            <ion-input type="email"  name="email"  formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || 
                  loginForm.get('email')?.touched)">
            <div style="color:red" *ngIf="loginForm.get('email')?.hasError('required')">
              *Email es obligatorio
            </div>
            <div style="color:red" *ngIf="loginForm.get('email')?.hasError('minlength')">
              *Email debe tener mínimo 10 caracteres
            </div>
          </div>



          <ion-item fill="solid">
            <ion-label position="stacked">Contraseña: </ion-label>
            <ion-input type="password"  name="password" formControlName="password"></ion-input>
          </ion-item>
          <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || 
                loginForm.get('password')?.touched)">
            <div style="color:red" *ngIf="loginForm.get('password')?.hasError('required')">
              *Password es obligatoria
            </div>
            <div style="color:red" *ngIf="loginForm.get('password')?.hasError('minlength')">
              *Password debe tener mínimo 8 caracteres
            </div>
          </div>
        </ion-list>
        <ion-button (click)="login()" [disabled]="!loginForm.valid" expand="block" fill="solid"  shape="round" routerLink="/informacion">
          Login Docente
        </ion-button>
        <ion-button (click)="loginAlumno()" [disabled]="!loginForm.valid" expand="block" fill="solid"  shape="round" routerLink="/informacion">
          Login Alumno
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="mycolor">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>