.Duoc{
    height: 30px;
    margin-left: 24%;
}
ion-toolbar{
    background-color: var(--ion-color-mycolor);
}
.QR{
    text-align: center;
    font-size: x-large;
}
.Gqr{
    --background: #202574;
}
.Hola{
    margin-left: 10px;
    text-align: start; 
    font-weight: bold;
}