<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <img src="assets/DuocUC.png" alt="" class="Duoc">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 style="text-align: center;">Este es tu perfil {{ nombre_usuario }}</h1>

  <br><br>

  <ion-card>
    <ion-item>
      <ion-label>Usuario:</ion-label>
      <ion-label>{{ nombre_usuario }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Apellido:</ion-label>
      <ion-label>{{ apellido_usuario }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-label>{{ email_usuario }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Sede:</ion-label>
      <ion-label>{{ sede_usuario }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Jornada:</ion-label>
      <ion-label>{{ jornada_usuario }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Rol:</ion-label>
      <ion-label>{{ rol_usuario }}</ion-label>
    </ion-item>

    
    <ion-button  style="margin-left: 15px; margin-bottom: 15px;"[routerLink]="['/actualizaralumno', id_usuario]"color="warning"> 
      <ion-icon name="create"></ion-icon> </ion-button>
    <ion-button style="margin: 15px"[routerLink]="['/informacionalumno']"color="success"> 
      Informacion</ion-button>
    </ion-card>
</ion-content>
